body{
	background-color:palegreen;
	border-spacing:5px;
	border-color:palegreen;
}
h1{
	color:blue;
	font-family: GOUD;
	font-size:30px;
	text-align:center;
	
}
h2{
	color:blue;
	font-family: GOUD;
	font-size:30px;
	text-align:center;
	
}

h3{
	color:blue;
	font-family: GOUD;
	font-size:30px;
	text-align:center;
	
}

h4{
	color:blue;
	font-family: GOUD;
	font-size:30px;
	text-align:center;
	
}
h5{
	color:blue;
	font-family: GOUD;
	font-size:30px;
	text-align:center;
	
}



p{
text-align:center;
font-size:18px;

}